body{
    background-color:#f5f2eb;
}
.header{
    text-align: center;
    padding: 10px;
}
.header  h2{
    font-size: 40px;
    text-transform: capitalize;
    position: relative;
}
.header  h2::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    background-color: #8a7f1e;
    height: 2px;
    width: 120px;
    bottom: -30px;
    border: 1px solid #fff;
}
.container{
    width: 1170px;
    padding: 40px 20px;
    margin: 40px 20px;
}
.box .text{
    margin-left: 20px;
}
.box{
    display: flex;
    align-items:center ;
    justify-content: space-evenly;
}
.box .box-card{
    border: 1px solid #fff;
    border-radius: 10px;
   
    background-color: #fff;
}

.box .box-card h2{
    font-size: 30px;
    color: rgb(102, 98, 98);
 
   text-transform: capitalize;
}
.box .box-card span{
    font-weight: bold;
    font-size: 60px;
    color: #8a7f1e;
    position: relative;
    left: 70px;
}
.box .box-card span::before{
    content: "$";
  
    font-size: 40px;
    color: #8a7f1e;
}
.box .box-card span::after{
    content: "/month";
    font-size: 20px;
    color: #8a7f1e;
}
.box .box-card p{
    color: rgb(161, 156, 156);
    text-transform: capitalize;
}
.box .box-card ul{
   list-style-type: none;
   border-top: 1px solid rgb(182, 174, 174);
      border-bottom: 1px solid rgb(182, 174, 174);

}
.box .box-card ul li{
    margin: 20px;
    font-size: 25px;

}

.box .box-card ul li img{
width: 10px; 
position: relative;
right: 20px;}
.sign-up{
    text-align: center;
}
.sign-up button{
    border: 1px solid #8a7f1e;
    border-radius: 30px;
    text-decoration: none;
    color: #8a7f1e;
    width: 150px;
    height: 35px;
margin: 15px;
background-color: transparent;
font-size: 17px;}


.sign-up button:hover{
    background-color: #8a7f1e;
    color: #fff;
}


